:8080 {
	root * /srv
	encode gzip

	@api path /api/*
	handle @api {
		uri strip_prefix /api
		reverse_proxy collab-server:3000
	}

	@ws path /ws/*
	handle @ws {
		reverse_proxy collab-server:3000
	}

	@board path /b/*
	handle @board {
		rewrite * /board.html
		file_server
	}

	handle {
		try_files {path} {path}.html
		file_server
	}
}
